.hireus {
    background: #288DC2;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
    display: flex;

    &__titlehireus {
        font-size: 2.7rem;
        font-weight: bold;
    }

    &__contactform {
        flex: 1 1 100%;
    }

    &__contactdiv {
        display: flex;
        flex: 1 1 100%;
        height: 3rem;
        justify-content: center;
    }

    &__contactdiv input {
        background: #FFF;
        border: 0;
        border-radius: 5px 0 0 5px;
        flex: 1 1 80%;
    }

    &__contactdiv .pageBtn {
        flex: 1 1 20%;
        border-radius: 0 5px 5px 0;
        background: #26af14;
    }

}