$logo-color-left:  #1b1b1b;
$logo-color-right: #e7d213;
$bg-header: #fffff9;
$bg-home: #f7ca01;
$whatWeDo-container1-bg-color: #bea224;
$whatWeDo-container2-bg-color: #2480be;
$whatWeDo-container3-bg-color: #3ebe24;
$whatWeDo-container4-bg-color: #24bea9;
$whatWeDo-container5-bg-color: #be2424;
$whatWeDo-container6-bg-color: #b124be;